<div class="py-4 px-6 border rounded flex items-center flex-col mb-2">
  <img [src]="product.image" [alt]="product.title" class="w-1/6 mb-2">
  <h2 class="mb-2 text-md text-center">{{product.title}}</h2>
  <p>Price: <span class="font-bold">{{product.price | currency: "BYN "}}</span></p>
  <button class="border py-2 px-4 rounded text-white"
          [ngClass]="{
          'bg-emerald-950': !details,
          'bg-fuchsia-700': details
          }"
          (click)="details=!details">
    {{details ? "Hide" : "Show"}} details
  </button>
  <div class="py-4 px-6 rounded flex items-center flex-col mb-2" *ngIf="details">
    <p>{{product.description}}</p>
    <p>Rate: <span [ngStyle]="{fontWeight: 'bold'}">{{product.rating.rate | number: '1.2-4'}}</span></p>
  </div>
</div>
